@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600;700&family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-heebo: "Heebo", sans-serif;

  --color-blue: hsla(202, 71%, 52%, 1);
  --color-light-blue: rgb(75, 175, 233);
  --color-green: hsla(145, 63%, 42%, 1);
  --color-red: hsla(0, 79%, 63%, 1);

  --color-dark: hsla(248, 35%, 8%, 1);
  --color-gray-1: hsla(0, 0%, 20%, 1);
  --color-gray-2: hsla(0, 0%, 31%, 1);
  --color-gray-3: hsla(0, 0%, 51%, 1);
  --color-gray-4: hsla(0, 0%, 74%, 1);
  --color-gray-5: hsla(0, 0%, 88%, 1);
  --color-gray-6: hsla(0, 0%, 95%, 1);

  --border-radius-sm: 12px;
  --border-radius-md: 16px;
  --border-radius-lg: 18px;
  --border-radius-xl: 24px;
  --box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-poppins);
}

h1.logo {
  font-family: var(--font-heebo);
  font-size: 36px;
}
.navigation {
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 100px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: 1px solid #000; */
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 45px;
  /* background-color: #fff; */
  padding: 0 2rem;
  z-index: 2;

  border: none;
}

nav.sticky .nav-menu {
  backdrop-filter: blur(5px);
  height: 100%;
  align-items: center;
  padding-left: 15px;
}

nav h1.nav-logo {
  color: var(--color-gray-1);
}

nav ul.nav-menu {
  display: flex;
  gap: 55px;
}

nav ul.nav-menu li a.nav-list {
  font-size: 24px;
  text-decoration: none;
  color: var(--color-gray-1);
  position: relative;
}

nav ul.nav-menu li a.nav-list.active {
  font-weight: 700;
}

nav ul.nav-menu li a.nav-list.active::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--color-dark);
  position: absolute;
  bottom: -5px;
  left: 0;
}

main {
  font-weight: 500;
  max-width: 1300px;
  margin: 0 auto;
}

main .hero {
  padding-top: 150px;
  margin-bottom: 200px;
}

main .hero p.blue-text {
  font-size: 18px;
  color: var(--color-blue);

  text-indent: 200px;
  margin-bottom: 16px;
}

main .hero h1.hero-text {
  font-size: 48px;
  line-height: 72px;
  /* width: 100%; */

  padding-left: 200px;
  max-width: 545px;
}

main .hero h1.hero-text--bottom {
  max-width: 366px;
  margin-bottom: 42px;
}

main .hero img {
  width: 100%;
  border-radius: var(--border-radius-lg);

  margin: 42px 0;
}

main .hero p.hero-description {
  max-width: 366px;
  line-height: 27px;
  color: var(--color-gray-2);
  font-size: 18px;

  padding-left: 200px;
  margin-bottom: 42px;
}

main .hero .cta {
  padding-left: 200px;
  max-width: 350px;
  height: 57px;
}

main .hero .cta p.cta-text {
  font-size: 14px;
  color: var(--color-gray-3);

  margin-bottom: 10px;
}
.hero .cta .cta-form-group {
  position: relative;
}

.cta p.cta-text {
  color: white;
  margin-bottom: 10px;
}
.email-input {
  position: relative;
}

.email-input input {
  height: 57px;
  font-size: 18px;
  font-family: var(--font-poppins);
  color: var(--color-gray-2);
  background-color: var(--color-gray-6);
  text-indent: 20px;
  border-radius: var(--border-radius-sm);

  border: none;
  outline: none;

  /* width: 100%; */
  max-width: 350px;
  padding-right: 123px;
}

.email-input input::placeholder {
  color: var(--color-gray-4);
}

.email-input button {
  position: absolute;
  right: 4px;
  top: 5px;

  background-color: var(--color-blue);
  border: none;
  padding: 11px 27px;
  border-radius: var(--border-radius-sm);
  font-family: var(--font-poppins);
  font-size: 18px;
  color: white;

  cursor: pointer;
}

.hero .cta .cta-form-group button:hover {
  background-color: var(--color-light-blue);
}

.content {
  max-width: 1050px;
  margin: 0 auto;
}

.services {
  margin-bottom: 200px;
}

h1.subhead {
  font-family: Poppins;
  font-size: 36px;
  line-height: 54px;

  /* padding-left: 110px; */
}

.services h1.subhead {
  max-width: 350px;
}

.services .services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding-left: 110px; */
  /* max-width: 1000px; */
  margin: 0 auto;
  margin-top: 40px;
  gap: 40px;
}

.services .services-cards .services-card {
  max-width: 340px;
  padding: 46px 34px;
  cursor: pointer;

  border-radius: var(--border-radius-xl);
  transition: all 0.3s ease-in-out;
}

.services .services-cards .services-card:hover {
  box-shadow: var(--box-shadow);
}

.services .services-card .services-card-icon {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 67px;
  height: 67px;
  border-radius: var(--border-radius-md);
  margin-bottom: 30px;
}

.services .services-card .services-card-icon i {
  font-size: 40px;
  text-align: center;
  color: white;
}

.services .services-card .services-card-icon.--ui-ux {
  background: var(--color-blue);
}

.services .services-card .services-card-icon.--front-end {
  background-color: var(--color-green);
}

.services .services-card .services-card-icon.--back-end {
  background-color: var(--color-red);
}

.services .services-card h2.services-card-head {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.services .services-card p.services-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-2);

  margin-bottom: 30px;
}

.services .services-card button.btn {
  padding: 9px 13px;

  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 500;
  color: var(--color-gray-3);
  background-color: var(--color-gray-5);
  border: none;
  cursor: pointer;

  border-radius: var(--border-radius-sm);
  transition: all 0.3s ease-in-out;
}

.services .services-card:hover button.btn {
  background-color: var(--color-blue);
  color: white;
}

.works {
  position: relative;
  margin-bottom: 200px;
}

.works h1.subhead {
  /* margin-left: 200px; */
  max-width: 450px;
}

.works .works-cards {
  /* margin-left: 110px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  /* row-gap: 10px; */
}

.works .works-card.--margin {
  margin-top: 160px;
}

.works .works-card img {
  border-radius: var(--border-radius-sm);
  width: 100%;
  max-width: 545px;
}

.works .works-card p.works-card-category {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-gray-3);
  margin-top: 20px;
  margin-bottom: 10px;
}

.works .works-card h1.works-card-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-gray-1);
}

.works .works-card a.works-more-link {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  color: var(--color-blue);
  text-decoration: none;
  right: 30px;
}

.works .works-card a.works-more-link::after {
  font-family: "Material Icons";
  content: "arrow_right_alt";
  position: absolute;
  font-size: 24px;
  right: -30px;
  bottom: 0px;
}

.works .works-card a.works-more-link:hover {
  color: var(--color-light-blue);
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  margin-bottom: 150px;
}

.team .team-text-area p.team-subhead {
  font-size: 18px;
  color: var(--color-red);
  margin-bottom: 7px;
}

.team .team-text-area h1.team-header {
  font-size: 36px;
  line-height: 54px;
  color: var(--color-gray-1);

  max-width: 280px;
  margin-bottom: 14px;
}

.team .team-text-area p.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  max-width: 280px;
}

.team .team-image-area {
  display: grid;
  grid-template-areas:
    "girl man1"
    "girl man2";
  grid-gap: 24px;
}

.team .team-image-area img {
  /* width: 100%; */
  /* max-width: 260px; */
  /* height: 260px; */
  border-radius: var(--border-radius-xl);
}
.team .team-image-area img:nth-child(1) {
  grid-area: girl;
  align-self: center;
}

.team .team-image-area img:nth-child(2) {
  grid-area: man1;
}

.team .team-image-area img:nth-child(3) {
  grid-area: man2;
}

.clients {
  margin-bottom: 200px;
}

.clients p.review {
  font-size: 36px;
  line-height: 54px;

  max-width: 940px;
  margin-bottom: 36px;
}

.clients .clients-card {
  display: flex;
  gap: 30px;
  align-items: center;
}

.clients .clients-card img.clients-card-image {
  max-width: 87px;
  height: 82px;

  border-radius: var(--border-radius-sm);
}

.clients .clients-card .clients-card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.clients .clients-card .clients-card-info p.clients-name {
  font-size: 24px;
  color: var(--color-gray-1);
}

.clients .clients-card .clients-card-info p.clients-company {
  font-size: 18px;
  color: var(--color-gray-3);
}

footer {
  background-color: var(--color-dark);
  width: 100%;
  height: 385px;
  color: white;
}

footer .contact-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 45px;
}

footer .contact-area ul.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .contact-area ul.footer-menu a.footer-link {
  color: white;
}

footer .contact-area ul.footer-menu a.footer-link:hover {
  color: var(--color-blue);
}

footer .contact-area .footer-middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .contact-area .footer-middle .social-media {
  display: flex;
  gap: 10px;
}
